incoming
output.log
scripts/*.txt
scripts/*.pdf
scripts/*.html
scripts/*.pyc
mkd/[A-Z]*.mkd
cover/[A-Z]*.jpg
html/[A-Z]*.html
pdf/[A-Z]*.pdf
mobi/[A-Z]*.mobi
epub/[A-Z]*.epub
lit/[A-Z]*.lit
pdb/[A-Z]*.pdb
fb2/[A-Z]*.fb2
