incoming
scripts/*.txt
scripts/*.pdf
scripts/*.html
scripts/*.pyc
mkd/[^0-9]*.mkd
html/[^0-9]*.html
pdf/[^0-9]*.pdf
plucker/[^0-9]*.pdb
mobi/[^0-9]*.mobi
epub/[^0-9]*.epub
lit/[^0-9]*.lit
pdb/[^0-9]*.pdb
fb2/[^0-9]*.fb2
